<div class="split left bg-image">
</div>
  
  <div class="split right">
    <div class="centered">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-7 mx-auto">
                    <h1 class="title is-3">Sign In</h1>
                    <form>
                        <div class="field">
                            <div class="control has-icons-left">
                              <input type="email" placeholder="Email" class="input" required>
                              <span class="icon is-small is-left">
                                <i class="fa fa-envelope"></i>
                              </span>
                            </div>
                          </div>
                          <div class="field">
                            <div class="control has-icons-left">
                              <input type="password" placeholder="Password" class="input" required>
                              <span class="icon is-small is-left">
                                <i class="fa fa-lock"></i>
                              </span>
                            </div>
                          </div>
                          <button class="button is-info">Sign in</button>
                    </form>
                </div>
            </div>
        </div><!-- End -->
    </div>
</div><!-- End -->