<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="">
        <img src="assets/images/psa_logo.png" alt="PSA logo" width="70" height="300">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a *ngIf="dataService.currentUser==undefined && router.url==='/'" class="button is-info" href="/login">
              <strong>Sign in</strong>
            </a>
          </div>
        </div>
      </div>
  </nav>


  <!--Sidebar-->
    <!-- <aside class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile"> -->
    <aside class="menu" *ngIf="dataService.currentUser != undefined">
      <ul class="menu-list">
        <li>
          <a [routerLink]="['/evaluation-head']">Evaluation</a>
        </li>
        <li>
          <a [routerLink]="['/course-tracker']">Skills</a>
        </li>
      </ul>
    </aside>

<router-outlet></router-outlet>
