.navbar{
    background-color: #5E60CE;
    z-index: 1;
}

.menu{
    background-color: #560187;
    width:150px;
    height: 100vh;
    float: left;
    z-index: 2;
}

a{
    color:white;
}

a:hover{
    background-color: #3e8ed0;
    color: white;
}



/*homepage animation*/
body{
	font-family: 'arial';
	margin: 0;
	overflow-x: hidden;
	padding: 0;

}

.description{
    z-index: 1;
    width: 450px;
    margin: 140px 120px;
    line-height: 2;
    font-size:x-large;
    color: black;
}

.animation-wrapper{
	background: #ace5ee;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	box-shadow:0px 0px 20px 10px whitesmoke;
}

.animation-wrapper.homepage{
	z-index:-3;
	opacity: 0.7;
}

.animation-wrapper.not-homepage{
	z-index:-3;
	opacity: 0.2;
}

.water{
    bottom: 0;
    left: 0;
	position: absolute;
    width: 100%;
}

.water ul.waves{
	list-style: none;
	margin: 0;
	padding: 0;
}

.water ul.waves li{
	background-repeat: repeat-x;
}

.water ul.waves li.wave-one{
	animation: wave 8.7s linear infinite;
	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	bottom: 0px;
	height: 50px;
	left: 0;
	position: absolute;
	right: 0;
	z-index: 10;
}

.water ul.waves li.wave-two{
	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	animation: wave 10s linear infinite;
	bottom: 0px;
	height: 84px;
	left: 0;
	position: absolute;
	right: 0;
	z-index: 9;
}

.water ul.waves li.wave-three{
	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	animation: wave 25s linear infinite;
	bottom: 0;
	height: 190px;
	left: 0;
	position: absolute;
	right: 0;
	z-index: 8;
}

.water ul.waves li.wave-four{
	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	animation: wave 25s linear infinite;
	bottom: 0;
	height: 205px;
	left: 0;
	position: absolute;
	right: 0;
}

.boat{
    z-index: 100;
	animation: boat 3s linear infinite;
    background-repeat: no-repeat;
    bottom: 175px;
    height: 145px;
    left: 50%;
	position: absolute;
    width: 250px;
}

.cloud{
    z-index: 100;
	animation: cloud 30s linear infinite;
	background-repeat: no-repeat;
    height: 165px;
    left: 0;
    position: absolute;
    width: 297px
}

.cloud2{
	animation: cloud 25s linear infinite;
	background-repeat: no-repeat;
    bottom: 320px;
    height: 165px;
    left: 140px;
    position: absolute;
    width: 297px;
}

.dolphin{
	animation: fish 15s linear infinite;
	background-repeat: no-repeat;
	bottom: 45px;
	height: 80px;
	left: 20%;
	position: absolute;
	width: 124px;
	z-index: 9;
}





/*Animation Keyframe Section*/

@keyframes wave{
    0% {
        background-position: 0 0;
	}

    100% {
        background-position: 1920px 0;
    }
}

@keyframes boat{
	0%{
		transform: rotate(0);
	}

	50%{
		transform: rotate(-3deg);
	}

	100%{
		transform: rotate(0);
	}
}

@keyframes cloud{
	0%{
		left: -30%;
	}

	100%{
		left: 100%;
	}
}